{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="products_list">
	<button class="new_product btn btn-success" >
		<a href="{% url 'adminapp:create_product' category.pk %}" style="color: yellow;">
		новый продукт
		</a>
	</button>
	{% for object in objects_list %}
	{% if object.is_active %}
	<div class="product_record">
		<img
				src="/media/{{object.image|default:'products_images/default.jpg'}}"
				alt="{{ object.name }}">
		<div class="product_name">
			{{ object.name|title }}
		</div>

		<div class="product_actions">
			<button class="btn btn-info" style="color:black;">
				<a href="{% url 'adminapp:product_detail' object.pk %}">
				подробнее
				</a>
			</button>
			<button class="btn btn-warning">
				<a href="{% url 'adminapp:update_product' object.pk %}" style="color:darkblue;">
				редактировать
				</a>
			</button>
			<button class="btn btn-danger">
				<a href="{% url 'adminapp:delete_product' object.pk %}" style="color:white;">
				спрятать
				</a>
			</button>
		</div>

		<div class="summary">
			<b>цена</b>
			<p>{{ object.price }} руб</p>
			<b>количество</b>
			<p>{{ object.quantity }}</p>
		</div>
		<div class="product_desc">
			{{ object.short_desc|title }}
		</div>
	</div>
	{% endif %}
	{% endfor%}
</div>
{% endblock %}
