<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Магазин</title>
	{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
	{% endblock %}
	{% block js %}
	{% endblock %}
</head>
<body>
	<div class="container">
		{% block menu %}
		{% endblock %}

		{% block content %}
		{% endblock %}
	</div>
    {% include "mainapp/includes/footer.html" %}
</body>
</html>