{% extends "mainapp/base.html" %}
{% load static %}
{% block menu %}
	<div class="slider">
		{% include "mainapp/includes/menu.html" %}
		{% include "mainapp/includes/index_includes/slider.html" %}
	</div>
{% endblock %}
{% block content %}
	<div class="featured">
		<div class="featured-menu">
			<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
		</div>
		<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
		<div class="clearfix">
		</div>
		<div class="tab-content">
			{% for product in products %}
			<div class="block">
				<a href="{% url 'app:products' %}">
					<img src="{% if product.image %}/media/{{ product.image }}
						{% else %}{% static 'img/product-1.jpg' %}{% endif %}"
					     alt="image"
					style="width:270px; height:270px;">
					<div class="text">
						<img src="{% static 'img/icon-hover.png' %}" alt="img">
						<h4>{{product.name}}</h4>
						<p>{{product.short_desc}}</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="clr"></div>
{% endblock %}