{% extends "mainapp/base.html" %}
{% load static %}

{% block menu %}
	<div class="hero-white">
		{% include "mainapp/includes/menu.html" %}
	</div>
{% endblock %}

{% block content %}
	<div class="details">
		<div class="links clearfix">
			{% include "mainapp/includes/products_includes/subnav.html" %}
		</div>
		<div class="products">
			<div class="title clearfix">
				<h2>Категория: {{ category.name|title }} </h2>
			</div>
		</div>
		<div class="products">
			{% for product in products %}
			<div class="block">
					<a href="{% url 'app:single_product' product.pk %}">
						<img src="/media/{{product.image}}" style="width:370px; height:370px" alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png' %}" alt="img">
							<h4>{{product.name}}</h4>
							<p>{{product.short_desc}} </p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="title clearfix" style="height:unset">
		<h2>Похожие продукты</h2>
		<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
	</div>
	{% include "mainapp/includes/products_includes/inc_same_products.html" %}
{% endblock %}
