<div class="header clearfix">
	<a href="{% url 'app:index' %}" class="logo"></a>
	<ul class="menu">
		<li>
			<a href="{% url 'app:index' %}"
		       {% if request.resolver_match.url_name == "index" %} class="active" {% endif %}>домой</a>
		</li>
		<li>
			<a href="{% url 'app:products' %}"
		       {% if request.resolver_match.url_name == "products" %} class="active" {% endif %}>продукты</a>
		</li>
		<li>
			<a href="{% url 'app:contacts' %}"
				{% if request.resolver_match.url_name == "contacts" %} class="active" {% endif %}>контакты</a>
		</li>
		{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<li>
				<a href="{% url 'adminapp:read_user' %}">Админка</a>
			</li>
		{% endif %}
		<li>
			<a href="{% url 'auth:edit' %}">{{user.first_name|default:"пользователь"}}</a>
		</li>
		<li>
			<a href="{% url 'auth:logout' %}">выход</a>
		</li>
		{% else %}
		<li>
			<a href="{% url 'auth:login' %}">вход</a>
		</li>
		{% endif %}
	</ul>
	<a href="#" class="search"></a>
	<a href="{% url 'basket:items' %}" class="basket">
		<span style="display: inline-block; margin-left: 35px; color: black; ">
			{% if basket %}
				{{ basket.total_cost }} руб ({{ basket.total_quantity }}шт.)
			{% else %}
				{{ 0|floatformat:2 }}
			{% endif %}
		</span>
	</a>
</div>